body{
    background-color: rgba(181, 237, 177, 1);
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    margin: 50px auto;
    position: relative;
}
.page1{
    columns: 50px 2;
    margin: 50px 50px 50px 50px;
    position: relative;
    z-index: 1;
}
.page2{
    columns: 50px 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s,opacity 0s ease-in;
}
.page1:hover ~ .page2{
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 1);
}
.head1{
    text-align: center;
    font-style: italic;
    margin: 50px 50px;
    padding: auto;

}
.head2{
    text-align: center;
    font-style: italic;
    margin: 50px 50px;
    padding: auto;
}
.text2{
    padding: 25px;
}
.page2 .content{
    color: white;
}